.avatarAdminImage{
  -webkit-box-shadow: 3px 3px 5px 0px rgba(199,199,199,0.9) !important;
  -moz-box-shadow: 3px 3px 5px 0px rgba(199,199,199,0.9) !important;
  box-shadow: 3px 3px 5px 0px rgba(199,199,199,0.9) !important;
}
.avatarUserImage{
  margin-top: 14px !important;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(199,199,199,0.9) !important;
  -moz-box-shadow: 3px 3px 5px 0px rgba(199,199,199,0.9) !important;
  box-shadow: 3px 3px 5px 0px rgba(199,199,199,0.9) !important;
}
.avatarNotifications{
  margin-right: 40px !important;
}
