.colImageProfile{
	padding: 0px !important;
	max-width: fit-content !important;
}
.colLabelImageProfile{
	max-width: 130px !important;
	display: flex !important;
   	align-items: center !important;
   	padding: 0px !important;
}
.colImgCreateEditCity{
  background-color: #F4F6FC !important;
  border-bottom-left-radius: 24px !important;
	border-top-left-radius: 24px !important;
}
.colImgPopupLogout{
  background-color: #F4F6FC !important;
  border-top-right-radius: 24px !important;
	border-top-left-radius: 24px !important;
}
.colInputCity{
  padding-top: 0px !important;
}
.colsUserDetail{
  padding-top: 0px !important;
}
.colImgIcNumReservation{
  max-width: fit-content !important;
}
.colTitleNumberReservations{
  padding-bottom: 0px !important;
}
.colTxtNumbersReservations{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.colsFields{
  padding: 0px !important;
}
.withoutPadding{
  padding: 0px !important;
}
.colsFilters{
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
.colImgOfficeItems{
  max-width: fit-content !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.colTextOfficeItems{
  padding-left: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
