.rowContentCreateEditCity{
	width: 100% !important;
	margin: 0px !important;
}
.rowContentGeneralPopup{
	width: 100% !important;
	margin: 0px !important;
}
.rowImageCreateEditCity{
  justify-content: center !important;
  height: 100% !important;
}
.rowImageTopPopup{
  justify-content: center !important;
  height: 100% !important;
}
.rowNumbersReservations{
  padding-left: 12px !important;
  padding-right: 12px !important;
}
